.contact-bg {
    width: 75%;
    background: rgb(245, 245, 247);
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(210, 210, 213);
}

.contact-align-message {
    display: flex;
    flex-direction: column;
}

.contact-message-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 30px;
}

.contact-center {
    display: flex;
    justify-content: center;
}

.send-message-box {
    display: flex;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: auto;

}

.contact-line {
    border: 1px solid black;
    width: 97%;
    margin-top: 35px;
    margin-bottom: 10px;
}

.send-contact {
    display: flex;
    align-items: center;
    margin-right: 20px;
    align-items: flex-end;
}

.contact-connect {
    margin-left: 20px;
}

.contact-more {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact-email {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    align-items: center;
}

.email-padding {
    padding-left: 30px;
}

.explore-padding {
    padding-right: 20px;
}

.more-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.info-padding {
    padding-right: 10px;
}

.h2-contact {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: gray;
    margin-bottom: 0;
}

.h1-contact {
    font-size: 54px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.font-medium {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 780px) {
    .contact-bg {
        width: 90%;
    }

    .contact-message-row {
        flex-direction: column;
    }
    .send-contact p {
        width: 100%;
        font-size: 20px;
    }
    .send-message-box {
        justify-content: center;
    }

    .send-contact {
        display: inline;
        width: 88%;
    }

    .contact-more {
        display: inline;
    }

    .contact-email {
        justify-content: center;
    }

    .more-info {
        justify-content: space-evenly;
        align-items: center;
    }
}