.skill-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
}

.skill-pos {
    display: flex;
}

.skill-center {
    display: flex;
    justify-content: center;
}

.text-pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}