.box{
    display: inline-flex;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin-left: 15px;
    padding: 5px;
}

@media only screen and (max-width: 780px) {
    .box {
        margin-left: 5px;
    }
}